{% extends "layout.html" %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    {% block article %}
    {% endblock %}

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Challenges NASA Space Apps</h5>
        <div class="card-body">
          <div class="row" style="margin:10px;">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="https://2019.spaceappschallenge.org/challenges/earths-oceans/internet-ocean/details">Internet
                    on the Ocean</a>
                </li>
                <li>
                  <a href="https://2019.spaceappschallenge.org/challenges/earths-oceans/rising-water/details">Rising
                    Water</a>
                </li>
                <li>
                  <a href="https://2019.spaceappschallenge.org/challenges/earths-oceans/trash-cleanup/details">Trash
                    Cleanup</a>
                </li>
              </ul>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Smart Sources</h5>
        <div class="card-body">
          <ul>
            <li>Predro Abraham Moreno Vázquez</li>
            <li>José Ramiro Fuentes Lara</li>
          </ul>
          <p style="text-align: justify;" >Equipo trabajando en el desarrollo de soluciones tecnológicas y sociales para el cuidado de los océanos del mundo.</p>
        </div>
      </div>

    </div>



  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}