{% extends "art_layout.html" %}

{% block article %}
<!-- Page Content -->


<!-- Post Content Column -->
<div class="col-lg-8">

  <!-- Title -->
  <h1 class="mt-4">Trash Cleanup</h1>

  <!-- Author -->
  <p class="lead">
    by
    <a href="https://github.com/RamiroFuentes/NASA-Smart-Sources/">Smart Sources</a>
  </p>

  <hr>

  <!-- Date/Time -->
  <p>Posted on October 18, 2019 at 20:00 PM</p>

  <hr>

  <div class="jumbotron border border-primary shadow">
    <h1 class="display-4">Colección de Microplásticos por membranas de Graféno.</h1>
    <p class="lead">Estudio y aplicación de membranas de grafeno para la separeción de microplásticos en la superficie
      del oceano.</p>
    <hr class="my-4">
    <p>Fundamento teórico de la propuesta.</p>
    <p class="lead">
      <a class="btn btn-danger btn-lg readon" href="../static/assets/Simulacion_de_Membranas.pdf" role="button"
        target="_blank">Ver PDF</a>
    </p>
  </div>

  <!-- Preview Image -->
  <img class="img-fluid rounded" src="../static/images/ship.jpg" alt="">

  <hr>

  <!-- Post Content -->
  <p class="lead">
   <i> " Los <b>microplásticos</b> son pequeñas partículas de plásticos o polímeros que contaminan el medio ambiente. Ya sea el agua o el aire, estas partículas presentan un gran pelígro para la salud de cualquier forma de vida en general. " </i>
  </p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum
    rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum
    consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
  <div style="border-radius: 5px; margin-left: auto; margin-right: auto; text-align: center;">
    <img class="shadow"src="../static/images/sistema.png" style="border-radius: 10px; width: 90%;">

    <br>
    <br>
    <p>Figura: Diagrama del sistema propuesto.</p>
    <br>

  </div>
  <blockquote class="blockquote">
    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer class="blockquote-footer">Someone famous in
      <cite title="Source Title">Source Title</cite>
    </footer>
  </blockquote>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam
    sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur
    ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus,
    est!</p>

    <div style="border-radius: 5px; margin-left: auto; margin-right: auto; text-align: center;">
        <img class=""src="../static/images/filter2.PNG" style="border-radius: 10px; width: 90%;">
    
        <br>
        <br>
        <p>Figura: Diagrama del sistema propuesto.</p>
        <br>
  <hr>
  </div>

  <div class="sketchfab-embed-wrapper">
      <iframe title="A 3D model" width="100%" height="480" src="https://sketchfab.com/models/843434bff50441618c266fad6a6e898b/embed" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>

</div>

<!-- Sidebar Widgets Column -->

<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}